.logo_art { 
    background-color: #ffffff;
    display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  }

  a:link {
    color: rgb(0, 0, 0);
    text-decoration: none;
    letter-spacing: .1rem;

  }

  a:visited {
    color: black;
    text-decoration: none;
    letter-spacing: .1rem;

  }

  a:hover {
    color: darkgrey;
    text-decoration: none;
    letter-spacing: .1rem;

  }

  a:active {
    color: rgb(42, 42, 75);
    text-decoration: none;
    letter-spacing: .1rem;

  }

  li {
    display: inline;

  }

  li a {
    display: inline;
    padding: 18px;

  }


.works {
    background-color: rgb(240, 240, 240);
    padding: 20px
}

.physwork {
  margin: 2rem auto;
  text-align: center;
  
  }

  .works_dig {
    background-color: rgb(240, 240, 240);
    padding: 20px;
  }

.digwork {
  margin: 2rem auto;
  text-align: center;
  }


.ul {
  text-align: center;
  text-size-adjust: 12px;
}

.site_menu {
    list-style-type: none;
    font-family: Lato;
    font-size: 8;
  src: "service/Lato-Thin.ttf";
  color: rgb(26, 26, 26);
  text-align: center;
  padding-bottom: 24px;
  position: sticky;
}

.about_me {
    border-width: 0em;
    background-color: #daf0fd;
    font-family: QuattrocentoSans;
  src: url(service/QuattrocentoSans-Regular.ttf);
  padding-left: 5rem;
  padding-right: 5rem;
  padding-top: 2rem;
}

.me {
  float: middle;  
  margin: 20px;
}

.stevenlink {
display: inline-block;
margin-left: auto;
margin-right: auto;
padding: 12px
}

.bottom {
    text-align: center;
}