.logo_art { 
    background-color: #FFFFFF;
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 14%;
  }

  a:link {
    color: rgb(0, 0, 0);
    text-decoration: none;
    letter-spacing: .1rem;

  }

  a:visited {
    color: black;
    text-decoration: none;
    letter-spacing: .1rem;

  }

  a:hover {
    color: darkgrey;
    text-decoration: none;
    letter-spacing: .1rem;

  }

  a:active {
    color: rgb(42, 42, 75);
    text-decoration: none;
    letter-spacing: .1rem;

  }

  li {
    display: inline;

  }

  li a {
    display: inline;
    padding: 18px;

  }


.works {
    background-color: rgb(240, 240, 240);
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}

.column {
    flex: 50%;
    max-width: 50%;
    padding: 0 4px;
  }

  .column img {
    margin-top: 12px;
  }



.site_menu {
    list-style-type: none;
    font-family: Lato;
    font-size: 8;
  src: url(service/Lato-Thin.ttf);
  color: rgb(26, 26, 26);
  text-align: center;
  padding-bottom: 24px;
}

.about_me {
    border-width: 0em;
    background-color: #dbf1ff;
    font-family: QuattrocentoSans;
  src: url(service/QuattrocentoSans-Regular.ttf);
}